[Unit]
Description=Control and monitor audio output stack
After=lircd bluetooth.target

[Service]
Type=simple
EnvironmentFile=/etc/default/audio-controller
ExecStart=audio_controller $ARGS
Restart=always
# Improves security by removing some unrequired privileges
DynamicUser=true
User=audio-controller
# Required for access to evdev devices
SupplementaryGroups=input

[Install]
WantedBy=multi-user.target